{{#with offers}}
    {{#if visible}}
        <div class="hover">
            <div class="btn-popup">Ознакомиться с предложением</div>
            <ul class="buttons">
                <li class="fav">&#xE12c</li>
                <li class="like">&#xE06e</li>
                <li class="add">&#xE108</li>
                <li class="com">&#xE034</li>
            </ul>
        </div>
        <div class="offer-image-wrapper">
            <img src="{{image}}" class="image">
        </div>
        <div class="info">
            <span class="name">{{name}}</span>
            <div class="tags">
                <div class="theme">{{type}}</div>
                <div class="date">{{time}}</div>
                <div class="geo">{{location}}</div>
            </div>
        <div class="counters">
            {{#if socialCounters.likeCounter}}
                <span class="like-counter">Нравится {{#length alreadyLiked}}{{/length}}</span>
            {{/if}}
            {{#if socialCounters.commentCounter}}
                <span class="comments-counter">Коментариев {{#length comments}}{{/length}}</span>
            {{/if}}
            {{#if socialCounters.feedCounter}}
                <span class="feeds-counter">Отзывов {{#length feeds}}{{/length}}</span>
            {{/if}}
            {{#if socialCounters.addCounter}}
                <span class="adds-counter">Добавили к себе {{#length alreadyAdd}}{{/length}}</span></div>
            {{/if}}
        </div>
        <div class="comments-panel">
            {{#each ../users as |users|}}
                {{#compare users.userID "==" ../authorID}}
                    <div class="author">
                        <div>
                            <img src="{{users.avatar}}" class="avatar">
                        </div>
                        <div>
                            <a class="user">{{users.firstName}} {{users.lastName}}</a>
                            <span>предлагает</span>
                        </div>
                    </div>
                {{/compare}}
            {{/each}}
            <div class="comments">
                {{#each comments as |comment|}}
                    {{#if this}}
                        {{#compare @index '<' 5}}
                            {{#if comment.visible}}
                                <div class="comments-item" data-number="{{@index}}">
                                    {{#each ../../users as |users|}}
                                        {{#compare comment.userID "==" users.userID}}
                                            <img src="{{users.avatar}}" class="avatar">
                                        {{/compare}}
                                    {{/each}}
                                    <span class="comment">{{message}}</span>
                                    <span class="delete">X</span>
                                </div>
                            {{/if}}
                        {{/compare}}
                    {{/if}}
                {{/each}}
            </div>
            <div class="add-comment">
                <img class="avatar">
                <input>
            </div>
        </div>
    {{/if}}
{{/with}}