{{#with offers as |offer|}}
    <div class="popup-content" data-number="{{offerID}}">
        <span class="popup-close">Закрыть <span>x</span></span>
        <div class="popup-head clearfix">
            {{#each ../users as |users|}}
                {{#compare offer.authorID "==" users.userID}}
                    <img class="avatar" src="{{avatar}}"/>
                    <div class="popup-head-name">
                        <div>{{users.firstName}} {{users.lastName}}</div>
                        <span>нуждается в этом</span>
                    </div>
                    <div class="popup-head-btn">
                        <a>Добавить в друзья</a>
                    </div>
                {{/compare}}
            {{/each}}
        </div>

        <div class="popup-info clearfix">
            <div class="left-column">
                <h3>{{name}}</h3>
                <span class="offer-type">{{type}}</span>
                <div class="gradient">
                    <img src="{{image}}" width="100%">
                </div>
                <div class="description">
                    {{description}}
                </div>
            </div>
            <div class="right-column">
                <div class="buttons">
                    <span>Добавить к себе</span>
                    <span>Мне нравится</span>
                    <span>Комментировать</span>
                </div>
            </div>
        </div>
        <div class="feeds">
            {{#each feeds as |feed|}}
                {{#if this}}
                    {{#compare @index '<' 3}}
                        {{#if feed.visible}}
                            <div class="feed">
                                {{#each ../../users as |users-feed|}}
                                    {{#compare feed.userID "==" users-feed.userID}}
                                        <div class="avatar-wrapper">
                                            <img src="{{users-feed.avatar}}" class="avatar">
                                        </div>
                                    {{/compare}}
                                {{/each}}
                                <div class="text">{{message}}</div>
                                <span class="delete">X</span>
                            </div>
                        {{/if}}
                    {{/compare}}
                {{/if}}
            {{/each}}
            <div class="add-feed">
                <div>
                    <img class="avatar" src="">
                </div>
                <textarea maxlength="500"></textarea>
            </div>
        </div>
        <div class="popup-social">
            <div class="popup-adds">
                <span>Добавили к себе</span>
                <div>
                    {{#each alreadyAdd as |adds|}}
                        {{#if this}}
                            {{#each ../../users as |users|}}
                                {{#compare adds "==" users.userID}}
                                    <img src="{{users.avatar}}" class="avatar">
                                {{/compare}}
                            {{/each}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="popup-likes">
                <span>Нравится</span>
                <div>
                    {{#each alreadyLiked as |likes|}}
                        {{#if this}}
                            {{#each ../../users as |users|}}
                                {{#compare likes "==" users.userID}}
                                    <img src="{{users.avatar}}" class="avatar">
                                {{/compare}}
                            {{/each}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/with}}