{{#with offers}}
    <div class="popup-content" data-number="{{offerID}}">
        <span class="popup-close">Закрыть <span>x</span></span>

        <div class="popup-head clearfix">
            <div>
                <img class="avatar" src="http://cs6.pikabu.ru/images/big_size_comm/2015-01_1/14203017957828.jpg"/>
            </div>
        </div>
        <div class="popup-info clearfix">
            <div class="left-column">
                <h3>{{name}}</h3>
                <span class="offer-type">{{type}}</span>
                <div class="gradient">
                    <img src="{{image}}" width="100%">
                </div>
                <div class="description">
                    {{description}}
                </div>
            </div>
            <div class="right-column">
                <div class="buttons">
                    <span>Добавить к себе</span>
                    <span>Мне нравится</span>
                    <span>Комментировать</span>
                </div>
            </div>
        </div>
        <div class="feeds row">
            {{#each feeds as |feed|}}
                {{#if this}}
                    {{#compare @index '<' 3}}
                        {{#if feed.visible}}
                            <div class="feed">
                                {{#each ../../users as |users-feed|}}
                                    {{#compare feed.userID "==" users-feed.userID}}
                                        <div class="avatar-wrapper">
                                            <img src="{{users-feed.avatar}}" class="avatar">
                                        </div>
                                    {{/compare}}
                                {{/each}}
                                <div class="text">{{message}}</div>
                                <span class="delete">X</span>
                            </div>
                        {{/if}}
                    {{/compare}}
                {{/if}}
            {{/each}}
            <div class="add-feed">
                <img class="avatar">
                <textarea maxlength="500"></textarea>
            </div>
            <div class="popup-adds">
                <span>Добавили к себе</span>
                {{#each alreadyAdd as |adds|}}
                    {{#if this}}
                        {{#each ../../users as |users|}}
                            {{#compare adds "==" users.userID}}
                                <img src="{{users.avatar}}" class="avatar">
                            {{/compare}}
                        {{/each}}
                    {{/if}}
                {{/each}}
            </div>
            <div class="popup-likes">
                <span>Нравится</span>
                {{#each alreadyLiked as |likes|}}
                    {{#if this}}
                        {{#each ../../users as |users|}}
                            {{#compare likes "==" users.userID}}
                                <img src="{{users.avatar}}" class="avatar">
                            {{/compare}}
                        {{/each}}
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    </div>
{{/with}}