{{#with offers}}
    <div class="popup-content">
        <span class="popup-close">Закрыть <span>x</span></span>

        <div class="row with-border">
            <div>
                <img class="avatar" src="http://cs6.pikabu.ru/images/big_size_comm/2015-01_1/14203017957828.jpg"/>
            </div>
        </div>
        <div class="row clearfix"> <!-- CCLEARFIX --->
            <div class="left-column">
                <h3>{{name}}</h3>
                <span class="offer-type">{{type}}</span>
                <div class="gradient">
                    <img src="{{image}}" width="100%">
                </div>
                <div class="description">
                    {{description}}
                </div>
            </div>
            <div class="right-column">
                <div class="buttons">
                    <span>Добавить к себе</span>
                    <span>Мне нравитЬся</span>
                    <span>Комментировать</span>
                </div>
            </div>
        </div>
        <div class="feeds row">
            {{#each feeds as |feed|}}
                {{#if this}}
                    <div class="feed">
                        {{#each ../../users as |users-feed|}}
                            {{#compare feed.userID "==" users-feed.userID}}
                                <div class="avatar-wrapper">
                                    <img src="{{users-feed.avatar}}" class="avatar">
                                </div>
                            {{/compare}}
                        {{/each}}
                        <div class="text">{{message}}</div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    </div>
{{/with}}